{
    "name": "{{testPackageName}}",
    "references": [
        "{{packageName}}",
        "UnityEngine.TestRunner"
    ],
    "overrideReferences": true,
    "precompiledReferences": [
        "nunit.framework.dll",
        "System.Text.Json.dll"
    ],
    "defineConstraints": [
        "UNITY_INCLUDE_TESTS"
    ]
}
